.userDescription {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.9fr;
    gap: 0px 100px;
    grid-template-areas:
    "Left Right";
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionBlock-left {
    grid-area: Left;
}

.descriptionBlock_text {
    padding: 0px 25px;
}

.descriptionBlock-right {
    grid-area: Right;

}

.userNameBlock {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userNameBlock h1 {
    margin-bottom: 0;
}

.userAvatar {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 1rem;
}

.editButtonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contactsBlock {
    max-width: 500px;
}

.contactsLists {
    display: flex;
    justify-content: space-around;
}

.alignBaseline {
    align-items: baseline;
}

@media (max-width: 580px) {
    .userDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        overflow: hidden;
    }

    .descriptionBlockRight {
        order: 1;
    }
}