.messagesWrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 200px;
}

.addMessageFormWrapper {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}